{%extends "./base.html"%}
{%load static%}

{%block child_block%}
<head>
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>

<body class="container-fluid">

    <h1 style="text-align: center;">Subject List</h1>
    <form method="POST" action="/ORS/SubjectList/">
        {%csrf_token%}
        <div class="container-fluid">
            <div class="input-name">
                <input class="name" name="srch_prm" value="{{form.srch_prm}}" placeholder="Enter Subject Name or Course Name">
                <span><button type="submit" class="btn btn-primary"  value="Search">Search
                <i class="fas fa-search"></i></button></span>
            </div>
        </div>

        <table border="1" width="50%">
            <div id="timeout">

                {% if form.error %}
                <p style="color: red;font-size:x-large;text-align:center">{{ form.message }}</p>
                {% else %}
                <p style="color:rgb(35,151,41);font-size:x-large;text-align: center;">{{ form.message }}</p>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive-sm table-striped">
                        <thead class="thead">
                            <tr class="table-primary">
                                <th scope="col" style="text-align: center;"><input type="checkbox"  id="select_all" onchange="selectAll(this)">Select</th>

                                <th scope="row" style="text-align: center;">S_NO.</th>
                                <th scope="row">SUBJECT NAME</th>
                                <th scope="row">DESCRIPTION</th>
                                <th scope="row">COURSE NAME</th>
                                <th scope="row">EDIT</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for e in pageList %}
                            <tr>
                                <td style="text-align: center;"><input type="checkbox" name="ids" class="checkbox" onchange="selectone(this)" value="{{ e.id }}"></td>
                                <td style="text-align: center;">{{ form.index|add:forloop.counter0 }}</td>
                                <td>{{ e.SubjectName }}</td>
                                <td>{{ e.SubjectDescription  }}</td>
                                <td>{{ e.courseName }}</td>
                                <td><a href="/ORS/Subject/edit/{{ e.id }}">Edit
                                    <i class="fas fa-edit"></i>
                                </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
        </table>

        {% if form.msg %}

            <div align = 'center'>
                <br><br>
                <input name="curr_pg_no" type="hidden" value= "{{pageList.number}}"></input>
                <b style="font-size:x-large;">{{form.msg}}</b><br><br><br>
                <a class="btn btn-primary btn-lg" href="/ORS/SubjectList/" >Back</a><br>
            </div>

        {% else %}

            <br><br>
            <div class='pagination justify-content-center fix-1'>
                {% if pageList.has_previous %}
                    <input type="submit"  class="btn btn-primary" name="operation" value="Previous"/>
                {%else%}
                    <input disabled type="submit"  class="btn btn-primary" name="operation" value="Previous"/>
                {% endif %}

                <span class='mx-4' >
                    <input disabled class="btn" value="Page {{ pageList.number }} of {{ pageList.paginator.num_pages }}"></input>
                </span>

                {% if pageList.has_next %}
                    <input type="submit" class="btn btn-primary" name="operation" value="Next"></input>
                {%else%}
                    <input disabled type="submit"  class="btn btn-primary" name="operation" value="Next"/>
                {% endif %}
            </div>

            <br><br>

            <div class='pagination justify-content-center fix-2'>
                    <input name="curr_pg_no" type="hidden" value= "{{pageList.number}}"></input>
                    <input type="submit" class="btn btn-danger btn-lg" name="operation" value="Delete">

                <span class='mx-4'>
                    &nbsp;
                </span>

                <a href="/ORS/Subject/">
                    <font class="btn btn-success btn-lg" data-target="##update" data-toggle="modal">ADD
                        <i class="fas fa-plus-circle"></i></font>
                </a>

        {%endif%}
        </div>
    </form>
</body>

{%endblock%}
